/* Estilos para la pantalla de carga */


/* Bloquea el scroll mientras se muestra la pantalla de carga */
body:not(.loaded) {
    overflow: hidden;
    height: 100vh;
}

#loader-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    overflow: hidden;
}

/* Ocultar todos los íconos al inicio */
.icon {
    position: absolute;
    width: 40vw;           /* Ajuste proporcional al ancho de la pantalla */
    max-width: 600px;      /* Límite máximo para pantallas grandes */
    min-width: 150px;      /* Límite mínimo para pantallas pequeñas */
    height: auto;
    padding: 10px 50px 350px;
    display: none;
    transition: all 0.3s ease-in-out;
}

/* Mostrar el primer icono */
.show {
    display: block;
}

/* Ocultar el contenido principal al inicio */
body.loaded #loader-container {
    display: none;
}

/* Tablets */
@media (max-width: 1024px) {
    .icon {
        width: 50vw;
        max-width: 450px;
        padding: 10px 30px;
    }
}

/* Móviles grandes */
@media (max-width: 768px) {
    .icon {
        width: 60vw;
        max-width: 350px;
        padding: 10px 50px 250px;
    }
}

/* Móviles pequeños */
@media (max-width: 480px) {
    .icon {
        width: 70vw;
        max-width: 250px;
        padding: 5px 15px;
    }
}

/* Dispositivos muy pequeños */
@media (max-width: 320px) {
    .icon {
        width: 80vw;
        max-width: 200px;
        padding: 10px 50px 200px;
    }
}